.background{
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
}
.container{
  position: relative;
  padding: 20px;
  min-width: 300px;
  min-height: 50px;
  max-width: 720px;
  max-height: 720px;
  background-color: white;
  border-radius: 20px;
  border: 2px solid black;
}
.buttonClose{
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  cursor: pointer;
}
.buttonClose:active{
  font-weight: bold;
}
.visible{
  display: flex;
}